ul{
	margin: 0;
	padding: 0;
	display: flex;
	li {
		margin-right: 50px;
		list-style: none;
		a {
			color: #333;
			padding: 10px;
			color: pink;
		}
	}
}

nav{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nav{
	padding-top: 50px;
}