.team{
	background: red;
	padding:10%;
}

// Responsive design
@media all and (max-width: 1390px) {

}
@media all and (max-width: 1024px) { 
    
}
@media all and (max-width: 940px) {

}

@media all and (max-width: 768px) {
    
}

@media all and (max-width: 667px) {

}

@media all and (max-width: 480px) {
    
}

@media all and (max-width: 320px) {
   
   
}


